<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BeiMuDairy.OrderSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BeiMuDairy.OrderSystem.Properties.Settings.OrderSystemConnectionString" 
            connectionString="Data Source=122.114.57.238;Initial Catalog=OrderSystemDB;User ID=sa;Password=cssao888;MultipleActiveResultSets=True" 
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BeiMuDairy.OrderSystem.Properties.Settings>
            <setting name="LastLoginUser" serializeAs="String">
                <value />
            </setting>
        </BeiMuDairy.OrderSystem.Properties.Settings>
    </userSettings>
</configuration>